__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
test/*

# Data artifacts
data/*
!data/**/.gitkeep
models/*
!models/.gitkeep
predictions/*
!predictions/.gitkeep
reports/*
!reports/**/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
